@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* Global font */
* {
  font-family: "Inter", sans-serif;
}

/* Active link color stays */
a.active {
  color: #5BBC2E;
}

/* Normal text follows --color-neutral-content automatically */
.text-neutral-content {
  color: var(--color-neutral-content);
}

/* DaisyUI themes */
@plugin "daisyui/theme" {
  name: 'studyMateLight';
  default: true;

  --color-base-100: #ffffff;
  --color-base-200: #f5f5f5;
  --color-base-300: #e5e5e5;

  --color-primary: #5bbc2e;
  --color-primary-content: #ffffff;

  --color-secondary: #f5f5f5;
  --color-secondary-content: #03373d;

  --color-accent: #e7000b;
  --color-accent-content: #ffffff;

  --color-neutral: #374151;
  --color-neutral-content: #000000; /* normal text dark in light mode */
}

@plugin "daisyui/theme" {
  name: 'studyMateDark';

  --color-base-100: #0f111a;
  --color-base-200: #1a1c29;
  --color-base-300: #27293f;

  --color-primary: #5bbc2e;
  --color-primary-content: #ffffff;

  --color-secondary: #1a1c29;
  --color-secondary-content: #ffffff;

  --color-accent: #e7000b;
  --color-accent-content: #ffffff;

  --color-neutral: #d1d5db;
  --color-neutral-content: #ffffff; /* normal text white in dark mode */
}
