@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


* {
    font-family: "Geom", sans-serif;
    font-weight: 600;
}


a.active {
  color: #5BBC2E;
}


.text-neutral-content {
  color: var(--color-neutral-content);
}


@plugin "daisyui/theme" {
  name: 'studyMateLight';
  default: true;

  --color-base-100: #ffffff;
  --color-base-200: #f5f5f5;
  --color-base-300: #e5e5e5;

  --color-primary: #5bbc2e;
  --color-primary-content: #ffffff;

  --color-secondary: #f5f5f5;
  --color-secondary-content: #03373d;

  --color-accent: #e7000b;
  --color-accent-content: #ffffff;

  --color-neutral: #374151;
  --color-neutral-content: #000000; 
}

@plugin "daisyui/theme" {
  name: 'studyMateDark';

  --color-base-100: #0f111a;
  --color-base-200: #1a1c29;
  --color-base-300: #27293f;

  --color-primary: #5bbc2e;
  --color-primary-content: #ffffff;

  --color-secondary: #1a1c29;
  --color-secondary-content: #ffffff;

  --color-accent: #e7000b;
  --color-accent-content: #ffffff;

  --color-neutral: #d1d5db;
  --color-neutral-content: #ffffff; 
}


